.venv/
.idea/
node_modules/
AUTHORS
build/*
build-stamp
ChangeLog
cover/
.coverage
covhtml/
dist/
doc/build
*.DS_Store
*.pyc
*.egg-info/
pbr*.egg/
run_tests.err.log
run_tests.log
setuptools*.egg/
subunit.log
.testrepository
.tox/
*.mo
*.sw?
sqlite.db
.idea
.localscripts
dump.rdb
nohup.out
null
var/logs
corehr/testcase/log
corehr.egg-info
source/*
node_modules/*
.vscode/*
*.un~
static/
.eggs/
